.form-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px !important;
}

.full-width {
  width: 100%;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr 100px;
  gap: 15px;
}

.sms-info {
  font-size: 12px;
  color: #1976d2;
  margin-top: 10px;
}

mat-dialog-actions {
  padding: 15px 24px !important;
}

button {
  padding: 0 30px;
}